html {
    box-sizing: border-box;
    
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

img {
    max-width: 100%;
    height: auto;
}

main {
    margin: 0;
    padding: 5rem;
    color: var(--white);
    background-color: black;
    font-family: "Inter";
    
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

:root {
    --s_2: .2rem;
    --s_1: .5rem;
    --s1: 1rem;
    --s2: 1.2rem;
    --s3: 1.5rem;
    --s4: 2rem;

    --fs-s: .8rem;
    --fs-m: 1rem;
    --fs-l: 1.5rem;
    --fs-xl: 2rem;

    --black: #161718;
    --white: #fefdff;

    --border-radius: .25rem;
    --border-radius-xl: 1rem;

    --maxContent: 60rem;
    --defaultShadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}