---
import { getCollection } from "astro:content";
import OverviewLayout from "../../layouts/OverviewLayout.astro";

const journals = await getCollection("journals");
---

<OverviewLayout
    title="Mind Drops"
    intro="Welcome to My Mind Drops, a collection of inspiration and reflections."
>
    <ul class="list">
        {
            journals.map((journal) => (
                <li>
                    <a
                        class="link"
                        href={`/journals/${journal.id.replace(".md", "")}`}
                    >
                        <h2>{journal.data.title}</h2>
                    </a>
                    <p class="description">{journal.data.description}</p>
                </li>
            ))
        }
    </ul>
</OverviewLayout>


