---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Indi Watte | Home">
	<section class="introduction">
		<h2>Welcome to my playground!</h2>
		<p>
			I’m Indi Watte, a DEVINE student at Howest passionate about design,
			development, and interactive experiences.
		</p>
		<p>
			Explore my portfolio and see my projects that combine creativity and
			technology.
		</p>
		<button>View all projects</button>
	</section>

	<section class="featured-projects">
		<h2>Featured Projects</h2>
		<p>
			I love experimenting with web design, animation, visuals and
			creative coding. These projects highlight some of my favorite ideas
			and works so far.
		</p>
	</section>

	<style>
		h2 {
			font-weight: 800;
			font-size: var(--s3);
		}

		p {
			max-width: 30rem;
			line-height: 1.2rem;
			padding-left: 2rem;
		}

		.introduction,
		.featured-projects {
			display: flex;
			flex-direction: column; /* stack elements vertically */
			align-items: left; /* center them horizontally */
			gap: 1rem; /* space between title, text, and button */
			padding: 3rem 2rem;
		}

		.introduction button {
			background-color: var(--white);
			color: var(--black);
			border: none;
			padding: 0.75rem 1.5rem;
			border-radius: 0.5rem;
			font-size: 1rem;
			max-width: fit-content;
			
		}

		.introduction button:hover {
			background-color: hotpink;
		}
	</style>
</BaseLayout>
