---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Indi Watte | Home">
	<section class="introduction">
		<h2>Welcome to my playground!</h2>
		<p>
			I’m Indi Watte, a DEVINE student at Howest passionate about design,
			development, and interactive experiences.
		</p>
		<p>
			Explore my portfolio an see my projects that combine creativity and
			technology.
			<button>View all projects</button>
		</p>
	</section>
	<section class="featured projects">
		<h2>featured projects</h2>
		<p>
			I love experimenting with web design, animation, visuals and
			creative coding. These projects highlight some of my favorite ideas
			and works so far
		</p>
	</section>


	<style>
		h2 {
			color: var(--black);
			padding: var(--s1);
			font-weight: 800;
			font-size: var(--s2);
		}

		p {
			max-width: 25rem;
			line-height: 1.2rem;
		}
	</style>
</BaseLayout>
