<footer class="footer">
    <div class="footer-content">
        <h4>Indi Watté</h4>
        <p>Design & Development Portfolio</p>
        <p>
            Email: <a href="indi.watte@student.howest.be"
                >indi.watte@student.howest.be</a
            >
        </p>

        <div class="social">
            <a href="https://www.behance.net/">Behance</a>
            <a href="https://github.com/">GitHub</a>
        </div>
    </div>
    <p class="copyright">© 2025 Indi Watté</p>
</footer>

<style>
    footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1.5rem 2rem;
        background-color: var(--purple);
    }

    footer a {
     
        text-decoration: none;
    }

    footer a:hover {
        text-decoration: underline;
    }

    .footer-left,
    .footer-right {
        display: flex;
        gap:;
    }

    footer p {
        margin: 0;
    }

    .footer-content {
        margin-top: 5rem;
    }

    .copyright {
        margin: 0;
    }
</style>
