


<header class="site-header">
    <h1 class="site-title">Hi there! I’m Indi</h1>
    <h2 class="site-subtitle">Building cool stuff as a DEVINE student</h2>
    <p class="tagline">
        I finally built a webiste where i can showcase my projects, experiments,
        and creative work from my DEVINE carrier in Kortrijk
    </p>
    <p class="intro-text">
        Explore this portfolio to see my ideas, projects, and skills developed
        over two years.
    </p>
</header>

<!-- inline style -->

<style>
    h1 {
        color: hotpink;
        padding: var(--s1) var(--s3);
        font-weight: 500;
        text-align: center;
        display: block;
        margin-bottom: var(--s4);
        font-size: 8rem;
        font-family: "Oi";
    }

    .site-header {
        
        padding: 4rem 2rem;
        text-align: center;
    }



</style>
