<header class="site-header">
    <h1 class="site-title">Hi there! I’m Indi</h1>
    <h2 class="site-subtitle">Building cool stuff as a DEVINE student</h2>
    <p class="tagline">
        I finally built a webiste where i can showcase my projects, experiments, and creative work from my DEVINE
        carrier in Kortrijk
    </p>
    <p class="intro-text">
        Explore this portfolio to see my ideas, projects, and skills developed
        over two years.
    </p>
</header>

<!-- inline style -->

<style>
    h1,
    h2 {
        color: var(--c-primary);
        padding: var(--s1) var(--s3);
        font-weight: 800;
        text-align: center;
        display: block;
        margin-bottom: var(--s4);
        font-size: xx-large;
    }

    a {
        text-decoration: none;
        color: inherit;
    }

    a:hover {
        color: var(--c-dark);
    }
</style>
