<header>

    <h1 class="site-title">Portfolio</h1>
 
</header>

<!-- inline style -->

<style>
    h1 {
        color: var(--c-primary);
        padding: var(--s1) var(--s3);
        font-weight: 700;
        text-align: left;
        display: block;
        margin-bottom: var(--s4);
        font-size: 1rem;
        text-transform: uppercase;
        max-width: 100%;
    }
</style>
