<header>

    <h1 class="site-title">Indi Watte</h1>
    <h2 class="site-subtitle">DEVINE Student Portfolio</h2>
    <p class="tagline">Hi, I’m Indi Watte — a DEVINE student at Howest.</p>
    <p class="intro-text">
        Welcome to my portfolio — explore my projects, experiments, and ideas.
    </p>
</header>

<!-- inline style -->

<style>
    h1,
    h2 {
        color: var(--c-primary);
        padding: var(--s1) var(--s3);
        font-weight: 800;
        text-align: center;
        display: block;
        margin-bottom: var(--s4);
        font-size: xx-large;
    }

    a {
        text-decoration: none;
        color: inherit;
    }

    a:hover {
        color: var(--c-dark);
    }
</style>
