<nav class="main-nav">
    <ul>
        <li class="nav-item"><a href="/">Home</a></li>
        <li class="nav-item"><a href="/about">About</a></li>
        <li class="nav-item"><a href="/projects">My Projects </a></li>
        <li class="nav-item"><a href="/journals">Mind Drops </a></li>
    </ul>
</nav>

<style>
    .main-nav {
        padding: 3rem;
    }

    .main-nav ul {
        list-style: none;
        display: flex;
        flex-direction: row; /* mobile first */
        gap: 1rem;
        margin: 0;
        padding: 0;
        
    }

    .main-nav a {
        color: var(--green);
        text-decoration: none;
        text-transform: uppercase;
    }

    .main-nav a:hover {
        background-color: var(--fluo-yellow);
        padding: 1rem;
    }
</style>
