---
import { getCollection } from "astro:content";

export async function getStaticPaths() {
    const projects = await getCollection("projects");
    return projects.map((p) => ({
        params: { slug: p.slug },
        props: { project: p },
    }));
}

const { project } = Astro.props;
---

<article>
    <h1>{project.data.title}</h1>
    <p><em>{project.data.date}</em></p>
    <!-- Use set:html instead of innerHTML -->
    <div set:html={project.body} />
</article>
