---
import { getCollection } from "astro:content";
import OverviewLayout from "../../layouts/OverviewLayout.astro";

const projects = await getCollection("projects");
---

<OverviewLayout
    title="Projects"
    intro="Welcome to My Project overview, a collection of my works of my DEVINE journey"
    >
    <ul class="list">
        {
            projects.map((project) => (
                <li>
                    <a href={`/projects/${project.id.replace(".md", "")}`}>
                        <h2>{project.data.title}</h2>
                    </a>
                    <p class="description">{project.data.description}</p>
                    <p class="date">{project.data.date}</p>
                </li>
            ))
        }
    </ul>
</OverviewLayout>
