---
import BaseLayout from "./BaseLayout.astro";
const { title, intro } = Astro.props;
---

<BaseLayout title={"Indi Watte | " + title}>
    <section class="overview-container">
        <h1>{title}</h1>

        {intro && <p class="intro">{intro}</p>}

        <div class="overview-content">
            <slot />
        </div>
    </section>

    <style>
        .overview-container {
            max-width: 700px;
            margin: 0 auto;
            padding: 2rem 1rem;
        }

        h1 {
            text-align: center;
            margin-bottom: 1rem;
            font-size: 2.2rem;
            text-transform: uppercase;
        }

        .intro {
            text-align: center;
            max-width: 600px;
            margin: 0 auto 2rem;
            line-height: 1.5;
        }

        a.link {
            text-decoration: none;
            font-size: 1.4rem;
            display: inline-block;
            padding: 0.2rem 0.4rem;
            transition:
                background 0.2s ease,
                color 0.2s ease;
            color: var(--green);
        }

        a.link:hover {
            background-color: var(--purple);
            
        }
    </style>
</BaseLayout>
